body{
background-color: grey;

   margin:0px;
}

h1{
   text-align: center;
   font-size:50px; 
   font-family: 'Bungee Shade', cursive;
}
h2{
   padding-top: 20px;
   text-align: center;
   text-decoration: underline;

}
#nav ul{
   border-style: solid;
}

#nav li{
   list-style: none; 
   display: inline;
   padding: 20px 50px 20px 50px;
   font-size: 25px;
   
}

.navbar li:hover{
   color: red;
}


#hunter{

   border-style: solid;
   border-radius: 10%;
   height: 550px;
}

#p1{
   float: right;
   font-size: 20px;
   padding-right: 100px;
}
#img1{
 float: left;
 padding-left: 100px;
}